<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>biservlet</servlet-name>
		<servlet-class>es.tony.kmlServletNasa</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ajaxGraficos</servlet-name>
		<servlet-class>es.tony.ServletAjaxGraficos</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ajaxCalculos</servlet-name>
		<servlet-class>es.tony.ServletAjaxCalculos</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>rest-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>es.tony.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>rest-servlet</servlet-name>
		<url-pattern>/rest/v1/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>biservlet</servlet-name>
		<url-pattern>/biservlet/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ajaxGraficos</servlet-name>
		<url-pattern>/ajaxGraficos/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ajaxCalculos</servlet-name>
		<url-pattern>/ajaxCalculos/*</url-pattern>
	</servlet-mapping>

</web-app>
