#encabezado{
    
    color: fff;
    background-color: #3dc9f7;
    padding: 5px;
    
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
    margin-top: 10px;
    box-shadow:6px 8px 28px 6px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 6px 8px 28px 6px rgba(0, 0, 0, 0.65);
    -moz-box-shadow:6px 8px 28px 6px rgba(0, 0, 0, 0.65);
    border-width:3px;
    border-style:solid;
    border-color:#fff;
}



body{
    line-height: 2.5em;
    background: #09c519 url('../img/grass1.jpg');
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
    
}


#general{

}



#icono{  
    color:#FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
    background-color: rgba(96, 177, 76, 1);
    width:280px;
    padding-left: 30px;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
}

#icono h3 {
    margin-top: 40px;
    float: left;


}
#icono img {
    margin-top: 5px;
float: left;
}


#logo{  
    color:#FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
    background-color: rgba(96, 177, 76, 1);
    
}

#logo h3 {
    margin-top: 45px;
float: left;


}
#logo img {
    margin-top: 10px;
float: left;
}


#menu{
    
    margin-top: 60px;
    float:right;
     -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
}
#menu ul{
    margin: 0;  
    float: right;
}
#menu ul li a{
    
     -webkit-transition: background-color .25s linear;
     -moz-transition: background-color .25s linear;
       -o-transition: background-color .25s linear;
          transition: background-color .25s linear;
}
#menu ul li a:hover{

}


#cuerpo{
 
    background-color: #3dc9f7;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:6px 8px 28px 6px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 6px 8px 28px 6px rgba(0, 0, 0, 0.65);
    -moz-box-shadow:6px 8px 28px 6px rgba(0, 0, 0, 0.65);
    

}

#cuerpo h1 {
text-align: center;
color:#FFF;
text-shadow: 2px 2px 4px rgb(75, 74, 74);

    
}

#cuerpo h2 {
  color: #FFF;
   text-align: center;
   font-size:15px;
}




#derecha{
color: #FFF;
text-shadow: 0px 1px 1px rgb(75, 74, 74);
  margin-bottom: 20px;
  
}

#derecha .persona {
 display: block;
 color: #FFF;

}
.persona img{
    width: 75px;
    height: 75px;
}
#derecha ol {
-moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.persona {
  vertical-align: bottom;
}

#izquierda
{

min-height: 300px;


}

#izquierda h1{
    
font-size: 25px;  
color: #FFF;
text-shadow: 2px 2px 4px rgb(75, 74, 74);

}

#izquierda h4{
    
font-size: 12px;  
color: #000;

}

.boton1{
    -webkit-transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
    transition: background-color .15s linear;
    font-size: 25px;  
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
    background-color: rgba(96, 177, 76, 1);
    padding: 10px;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    font-size-adjust: inherit;
    cursor:pointer;
    margin-top:40px;
}
.boton1:hover{
    text-decoration: none; 
    color: white;
     background-color: rgba(197, 206, 195, 1);
     cursor:pointer;
}
.leyenda{
width: 100%;
margin-top: 44px;
}

#footer
{

}



#video {
    

margin-bottom: 20px;
}

#map3d{
    max-width: 100%;
}
/* Tabs*/
.tab{
    height: 50px;
    
    background-color: rgba(197, 206, 195, 1);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
}
.tab.active{
    background-color: rgba(96, 177, 76, 1);
}
.tab:hover{
    text-decoration:none;
    background-color: rgba(96, 177, 76, 1);
    color:white;
}

.ui-state-active{
    background: rgba(96, 177, 76, 1) !important;
    color:white;
}

/** Accordion **/
#accordion{
    margin-bottom: 50px;
}
/**Scroll bar **/

::-webkit-scrollbar {
margin-right: 5px;
background-color: #ddd;
width: 10px;
}
::-webkit-scrollbar-thumb {
border: 1px #eee solid;
border-radius: 4px;
background: #777;
-webkit-box-shadow: 0 0 8px #555 inset;
box-shadow: 0 0 8px #555 inset;
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: 0 0 2px #ccc;
box-shadow: 0 0 2px #ccc;
}
/** FAQ PAGE **/
.faq h1{
border-bottom: 1px solid rgba(172, 162, 162, 0.6);
}
#uerpo .faq h2{
    text-align: left;
} 
/* how does it work */
 .answer{
width: 81%;
margin-left: 4%;
}
.faq table{
    width: 98%;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    text-shadow: none;
}
.faq table th{
    border-color: grey;
    padding: 7px;
    font-weight: bold;
}
.faq table tr{
    border-color: grey;
}

.faq table td{
    border-radius: 5px;
border-color: grey;
padding: 7px;

}
/** Team **/
.team li{
line-height: 20px;
list-style: none;
margin-top: 10px;
font-size: 15px;
}

/* PICKER */
#get{
    height: 30px;
background-color: rgba(58, 157, 213, 1);
width: 157px;
margin-bottom: 10px;
border-radius: 10px;
padding-top: 10px;
padding-left: 26px;
color: white;
 cursor: pointer;
}
#resultado{
    
    background-color: white;
    color: black;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    text-shadow: none;
    border: 1px solid rgba(97, 96, 96, 0.46);
    padding-left: 30px;
    margin-right: 30px;
}
#resultado .row {
 border-bottom: 1px solid rgba(97, 96, 96, 0.46);
}
#resultado .row h3{
   margin-left: 30px;
}
#resultado .result{
margin-top: 20px;
margin-bottom: 10px;
}
#resultado .result h4{
    font-weight: normal;
   
}
#resultado span{
    padding-left: 30px;
}

/* Efectos */
#lightsoff-background  {
	height: 100%;
	left: 0;
	margin:0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}

#loading {
	position: absolute;
	height: 20px;
	width: 220px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -110px;
	z-index: 999; /* Nadie va encima del loading */
	display: none;
}


/* MEDIA QUERIES */
/* mobile devices */
@media (max-width: 480px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 17px;
    }
}

/*  landscape  */
@media (min-width: 600px) and (max-width: 979px) {
    
}
/* Web */
@media (min-width: 980px) {

}


/*Formularios*/
form input[type='number']{
    padding: 0px;
    margin: 0px;
    height: 30px !important;
}
input{
        height: 30px !important;

